.calendar {
  background-color: #0a0e17;
  color: white;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 16px;
}

.weekdays,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 8px;
}

.weekday {
  font-weight: bold;
  color: #6b7280;
}

.day {
  padding: 8px;
  border-radius: 8px;
  background-color: #1c1f2a;
}

.day.empty {
  background: none;
}

.day:hover {
  background-color: #374151;
  cursor: pointer;
}

/* .day.exam-day {
  background-color: #16a34a;
  color: white;
  font-weight: bold;
} */

/* .day:nth-child(7),
.day:nth-child(19) {
  background-color: #16a34a;  
}*/

/* .day:nth-child(17) {
  background-color: #dc2626; 
}
 */